* {
    margin: 0;
    padding: 0;
}

.appframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.appframetop {
    height: 96px;
    background: #38b48b;
    display: flex;
    justify-content: space-between;
}

.appframecontent {
    flex-grow: 1;
    display: flex;
}

.appframecontent-left {
    width: 100px;
    background: #b1dfcf;
    border: 10px solid white;
    box-sizing: border-box;
}

.appframecontent-left div {
    border: 1px solid;
}

.appframecontent-right {
    flex-grow: 1;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    /* background: rgb(199, 202, 207); */
}

.questioncanvas {
    width: 910px;
    /* box-shadow: 0px 0px 16px 0px grey; */
    background: white;
    box-sizing: border-box;
    margin-left: 10px;
    height: 97%;
    margin-top: 1%;
    overflow: hidden;
    position: relative;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main_content {
    min-height: 100%;
}

#main_content img {
    /* max-width: 100%; */
    width: 100%
}

.canvastool {
    position: absolute;
    left: 10px;
    top: 20%;
    border: 2px solid #eeeeee;
    /* box-shadow: 0px 0px 10px 0px #dedede; */
    z-index: 3;
    width: 50px;
    font-size: 28px;
    background: white;
}

.controlarrows {
    height: 44px;
    width: 50px;
    color: #c3c3c3;
}

.penchoice {
    background: white;
    position: absolute;
    left: 52px;
    top: 1px;
    padding: 12px;
    width: 200px;
    box-shadow: 0px 0px 10px 0px #dedede;
}

.noteblock {
    background: white;
    position: absolute;
    left: 52px;
    top: 227px;
    padding: 12px;
    width: 271px;
    box-shadow: 0px 0px 10px 0px #dedede;
}

.pictureOperation {
    background: white;
    position: absolute;
    left: 52px;
    top: 226px;
    padding: 0px;
    width: 68px;
    box-shadow: 0px 0px 10px 0px #dedede;
}

.pictureOperation>div {
    width: 66px;
    height: 27px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    color: #333;
    text-align: center;
    line-height: 25px;
}

.pictureOperation>.nopicture {
    width: 66px;
    height: 27px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    color: #969696;
    text-align: center;
    background: #efefef;
    line-height: 25px;
}

.pensizeitem.itemx i {
    height: 13px;
    box-sizing: border-box;
}

.pensizeitem i:nth-child(1) {
    border-bottom: 1px solid black;
}

.pensizeitem i:nth-child(2) {
    border-bottom: 3px solid black;
}

.pensizeitem i:nth-child(3) {
    border-bottom: 4px solid black;
}

.pensizeitem i:nth-child(4) {
    border-bottom: 5px solid black;
}

.pensizeitem i:nth-child(5) {
    border-bottom: 6px solid black;
}

.pensizeitem i:nth-child(6) {
    border-bottom: 7px solid black;
}

.coloritem i:nth-child(1) {
    background: #000000;
}

.coloritem i:nth-child(2) {
    background: #ff4e44;
}

.coloritem i:nth-child(3) {
    background: #3bc0ff;
}

.coloritem i:nth-child(4) {
    background: #ff9161;
}

.coloritem i:nth-child(5) {
    background: #db7bfc;
}

.coloritem i:nth-child(6) {
    background: #44e08d;
}

.coloritem i:nth-child(7) {
    background: #ffc200;
}

.coloritem i:nth-child(8) {
    background: #999999;
}

.coloritem i:nth-child(9) {
    background: #30d3b8;
}

.coloritem i:nth-child(10) {
    background: #2d94e7;
}

.coloritem i:nth-child(11) {
    background: #46b959;
}

.coloritem i:nth-child(12) {
    background: #fb8a8f;
}

.itemx i {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    margin-left: 7px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.penchoice .titlex {
    font-size: 18px;
    color: #666;
}

.penchoice .titlex i {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.controlitem {
    color: #9f9ea6;
    box-sizing: border-box;
    height: 49px;
    width: 50px;
    padding: 9px 10px;
    background-position: 0 -1px;
    background-size: 50px auto;
    border-top: 1px solid #e6e6e6;
}

.controlitem.item-on {
    background: #9f9ea6;
    color: #fff;
}

.canvastool>.controlitem:first-child {
    border-top: none;
}

.scrollquestion {
    position: absolute;
    right: 160px;
    top: 2%;
}

.sliderbar {
    height: 36%;
    position: absolute;
    top: 33%;
    left: 950px;
    width: 8px;
    border-radius: 5px;
    background: #c8eadf;
}

.sliderdot {
    height: 30px;
    width: 30px;
    border-radius: 36px;
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    background: #fff;
    left: -11px;
    border: 4px solid #7eb9a5;
}

.pensize,
.pencolor {
    height: 40px;
    width: 120px;
    display: flex;
    color: gray;
}

.pensize div {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pensize div:last-child {
    border-right: none;
}

.pencolor div {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencolor div:last-child {
    border-right: none;
}

.anotherpicture {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.hidden-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

input[type=checkbox]+span {
    /* your style goes here */
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 4px;
    background-color: gray;
}


/* active style goes here */

input[type=checkbox]:checked+span {
    background-color: red;
}