* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?32u9cz');
    src:  url('fonts/icomoon.eot?32u9cz#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?32u9cz') format('truetype'),
      url('fonts/icomoon.woff?32u9cz') format('woff'),
      url('fonts/icomoon.svg?32u9cz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icon_exit:before {
    content: "\e900";
    color: #999;
  }
  .icon-icon_help:before {
    content: "\e901";
    color: #999;
  }
  .icon-icon_information:before {
    content: "\e902";
    color: #999;
  }
  .icon-icon_message:before {
    content: "\e903";
    color: #999;
  }
  .icon-icon_resource:before {
    content: "\e904";
    color: #999;
  }
  .icon-icon_audio .path1:before {
    content: "\e905";
    color: rgb(124, 191, 131);
  }
  .icon-icon_audio .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_excel .path1:before {
    content: "\e907";
    color: rgb(30, 198, 152);
  }
  .icon-icon_excel .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_image .path1:before {
    content: "\e909";
    color: rgb(244, 233, 212);
  }
  .icon-icon_image .path2:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(124, 200, 178);
  }
  .icon-icon_image .path3:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(255, 173, 132);
  }
  .icon-icon_nocontent .path1:before {
    content: "\e90c";
    color: rgb(170, 170, 170);
  }
  .icon-icon_nocontent .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_paper .path1:before {
    content: "\e90e";
    color: rgb(23, 145, 227);
  }
  .icon-icon_paper .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_paper .path3:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(216, 216, 216);
  }
  .icon-icon_paper .path4:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(216, 216, 216);
  }
  .icon-icon_paper .path5:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(216, 216, 216);
  }
  .icon-icon_pdf:before {
    content: "\e913";
    color: #e65384;
  }
  .icon-icon_PPT .path1:before {
    content: "\e914";
    color: rgb(243, 98, 108);
  }
  .icon-icon_PPT .path2:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_test .path1:before {
    content: "\e916";
    color: rgb(70, 179, 77);
  }
  .icon-icon_test .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_test .path3:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(216, 216, 216);
  }
  .icon-icon_test .path4:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(216, 216, 216);
  }
  .icon-icon_test .path5:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(216, 216, 216);
  }
  .icon-icon_test .path6:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(216, 216, 216);
  }
  .icon-icon_TXT .path1:before {
    content: "\e91c";
    color: rgb(60, 175, 217);
  }
  .icon-icon_TXT .path2:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_unknown .path1:before {
    content: "\e91e";
    color: rgb(177, 161, 140);
  }
  .icon-icon_unknown .path2:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_video .path1:before {
    content: "\e920";
    color: rgb(206, 159, 69);
  }
  .icon-icon_video .path2:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_word .path1:before {
    content: "\e922";
    color: rgb(68, 113, 184);
  }
  .icon-icon_word .path2:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_zip .path1:before {
    content: "\e924";
    color: rgb(107, 203, 166);
  }
  .icon-icon_zip .path2:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icon_-camera2:before {
    content: "\e926";
    color: #fff;
  }
  .icon-icon_chosen .path1:before {
    content: "\e927";
    color: rgb(254, 254, 254);
  }
  .icon-icon_chosen .path2:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_close1:before {
    content: "\e929";
    color: #fff;
  }
  .icon-icon_close2:before {
    content: "\e92a";
    color: #fff;
  }
  .icon-icon_delete:before {
    content: "\e92b";
    color: #999;
  }
  .icon-icon_down:before {
    content: "\e92c";
  }
  .icon-icon_download:before {
    content: "\e92d";
    color: #999;
  }
  .icon-icon_edit:before {
    content: "\e92e";
    color: #999;
  }
  .icon-icon_flash:before {
    content: "\e92f";
    color: #fff;
  }
  .icon-icon_more:before {
    content: "\e930";
    color: #fff;
  }
  .icon-icon_narrow:before {
    content: "\e931";
    color: #fff;
  }
  .icon-icon_release:before {
    content: "\e932";
    color: #999;
  }
  .icon-icon_return:before {
    content: "\e933";
    color: #b1b1b1;
  }
  .icon-icon_search:before {
    content: "\e934";
    color: #b1b1b1;
  }
  .icon-icon_tailoring:before {
    content: "\e935";
    color: #fff;
  }
  .icon-icon_upload .path1:before {
    content: "\e936";
    color: rgb(62, 199, 71);
    opacity: 0.9;
  }
  .icon-icon_upload .path2:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(254, 254, 254);
  }
  .icon-icon_upward:before {
    content: "\e938";
    color: #999;
  }
  .icon-icon_shrinkage2:before {
    content: "\e939";
    color: #9f9ea6;
  }
  .icon-icon_-color:before {
    content: "\e93a";
  }
  .icon-icon_-line:before {
    content: "\e93b";
    color: #9f9ea6;
  }
  .icon-icon_addpage:before {
    content: "\e93c";
    color: #9f9ea6;
  }
  .icon-icon_drag:before {
    content: "\e93d";
    color: #9f9ea6;
  }
  .icon-icon_pen:before {
    content: "\e93e";
    color: #9f9ea6;
  }
  .icon-icon_rubber:before {
    content: "\e93f";
    color: #9f9ea6;
  }
  .icon-icon_shrinkage:before {
    content: "\e940";
    color: #9f9ea6;
  }
  .icon-icon_thick:before {
    content: "\e941";
    color: #9f9ea6;
  }
  .icon-icon_class .path1:before {
    content: "\e942";
    color: rgb(177, 177, 177);
  }
  .icon-icon_class .path2:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_class_s .path1:before {
    content: "\e944";
    color: rgb(56, 180, 139);
    opacity: 0.26;
  }
  .icon-icon_class_s .path2:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_homework .path1:before {
    content: "\e946";
    color: rgb(177, 177, 177);
  }
  .icon-icon_homework .path2:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_homework_s .path1:before {
    content: "\e948";
    color: rgb(56, 180, 139);
    opacity: 0.26;
  }
  .icon-icon_homework_s .path2:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_lesson .path1:before {
    content: "\e94a";
    color: rgb(177, 177, 177);
  }
  .icon-icon_lesson .path2:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_lesson .path3:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_lesson_s .path1:before {
    content: "\e94d";
    color: rgb(56, 180, 139);
    opacity: 0.26;
  }
  .icon-icon_lesson_s .path2:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_record .path1:before {
    content: "\e94f";
    color: rgb(177, 177, 177);
  }
  .icon-icon_record .path2:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_record_s .path1:before {
    content: "\e951";
    color: rgb(56, 180, 139);
  }
  .icon-icon_record_s .path2:before {
    content: "\e952";
    margin-left: -1em;
    color: rgb(56, 180, 139);
    opacity: 0.26;
  }
  .icon-icon_resources .path1:before {
    content: "\e953";
    color: rgb(177, 177, 177);
  }
  .icon-icon_resources .path2:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  .icon-icon_resources_s .path1:before {
    content: "\e955";
    color: rgb(56, 180, 139);
    opacity: 0.26;
  }
  .icon-icon_resources_s .path2:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(56, 180, 139);
  }
  

.appframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.appframetop {
    height: 96px;
    background: #38b48b;
    display: flex;
    justify-content: space-between;
}

.appframecontent {
    flex-grow: 1;
    display: flex;
}

.appframecontent-left {
    width: 100px;
    background: #b1dfcf;
    border: 10px solid white;
    box-sizing: border-box;
}

.appframecontent-left div {
    border: 1px solid;
}

.appframecontent-right {
    flex-grow: 1;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    /* background: rgb(199, 202, 207); */
}

.questioncanvas {
  width: 890px;
  box-shadow: 0px 0px 24px 0px #d2dad7;
  background: white;
  box-sizing: border-box;
  margin-left: calc(50% - 445px);
  height: 97%;
  margin-top: 1%;
  overflow: hidden;
  position: relative;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main_content {
    min-height: 100%;
}

#main_content img {
    /* max-width: 100%; */
    width: 100%
}

.canvastool {
    position: absolute;
    left: calc(50% - 446px);
    top: calc(50% - 198px);
    border: 2px solid #eeeeee;
    /* box-shadow: 0px 0px 10px 0px #dedede; */
    z-index: 3;
    width: 50px;
    font-size: 28px;
    background: white;
}

.controlarrows {
    height: 44px;
    width: 50px;
    color: #c3c3c3;
}

.penchoice {
    background: white;
    position: absolute;
    left: 52px;
    top: 1px;
    padding: 12px;
    width: 200px;
    box-shadow: 0px 0px 10px 0px #dedede;
}

.noteblock {
    background: white;
    position: absolute;
    left: 52px;
    top: 227px;
    padding: 12px;
    width: 271px;
    box-shadow: 0px 0px 10px 0px #dedede;
}

.pictureOperation {
    background: white;
    position: absolute;
    left: 52px;
    top: 226px;
    padding: 0px;
    width: 68px;
    box-shadow: 0px 0px 10px 0px #dedede;
}

.pictureOperation>div {
    width: 66px;
    height: 27px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    color: #333;
    text-align: center;
    line-height: 25px;
}

.pictureOperation>.nopicture {
    width: 66px;
    height: 27px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    color: #969696;
    text-align: center;
    background: #efefef;
    line-height: 25px;
}

.pensizeitem.itemx i {
    height: 13px;
    box-sizing: border-box;
}

.pensizeitem i:nth-child(1) {
    border-bottom: 1px solid black;
}

.pensizeitem i:nth-child(2) {
    border-bottom: 3px solid black;
}

.pensizeitem i:nth-child(3) {
    border-bottom: 4px solid black;
}

.pensizeitem i:nth-child(4) {
    border-bottom: 5px solid black;
}

.pensizeitem i:nth-child(5) {
    border-bottom: 6px solid black;
}

.pensizeitem i:nth-child(6) {
    border-bottom: 7px solid black;
}

.coloritem i:nth-child(1) {
    background: #000000;
}

.coloritem i:nth-child(2) {
    background: #ff4e44;
}

.coloritem i:nth-child(3) {
    background: #3bc0ff;
}

.coloritem i:nth-child(4) {
    background: #ff9161;
}

.coloritem i:nth-child(5) {
    background: #db7bfc;
}

.coloritem i:nth-child(6) {
    background: #44e08d;
}

.coloritem i:nth-child(7) {
    background: #ffc200;
}

.coloritem i:nth-child(8) {
    background: #999999;
}

.coloritem i:nth-child(9) {
    background: #30d3b8;
}

.coloritem i:nth-child(10) {
    background: #2d94e7;
}

.coloritem i:nth-child(11) {
    background: #46b959;
}

.coloritem i:nth-child(12) {
    background: #fb8a8f;
}

.itemx i {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    margin-left: 7px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.penchoice .titlex {
    font-size: 18px;
    color: #666;
}

.penchoice .titlex i {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.controlitem {
    color: #9f9ea6;
    box-sizing: border-box;
    height: 49px;
    text-align: center;
    width: 50px;
    padding: 9px 10px;
    background-position: 0 -1px;
    background-size: 50px auto;
    border-top: 1px solid #e6e6e6;
}

.controlitem.item-on {
    background: #9f9ea6;
    color: #fff;
}
.controlitem.item-on i:before{
  color: #fff;
}
.canvastool>.controlitem:first-child {
    border-top: none;
}

.scrollquestion {
    position: absolute;
    right: 160px;
    top: 2%;
}

.sliderbar {
    height: 36%;
    position: absolute;
    top: 33%;
    left: calc(50% + 467px);
    width: 8px;
    border-radius: 5px;
    background: #c8eadf;
}

.sliderdot {
    height: 30px;
    width: 30px;
    border-radius: 36px;
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    background: #fff;
    left: -11px;
    border: 4px solid #7eb9a5;
}

.pensize,
.pencolor {
    height: 40px;
    width: 120px;
    display: flex;
    color: gray;
}

.pensize div {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pensize div:last-child {
    border-right: none;
}

.pencolor div {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencolor div:last-child {
    border-right: none;
}

.anotherpicture {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.hidden-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

input[type=checkbox]+span {
    /* your style goes here */
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 4px;
    background-color: gray;
}


/* active style goes here */

input[type=checkbox]:checked+span {
    background-color: red;
}